body{
    font-family: 'Open Sans', sans-serif;

}

h1{
    font-family: 'Poiret One', cursive;
    font-size: 60px!important;
}
td, th{
    font-size: 14px;
}

.banner{
    width: 100%;
    height: 800px;
}

.w3-card-4{

    display: block!important;
    width: 100%!important;
}

#navigacija, #home, #footer{
    font-family: 'Poiret One', cursive !important;
}
